.custom-inner-tabs {
  .tabs {
    .tab-list {
      display: inline-flex;
      align-items: center;
      background-color: white;
      width: 100%;
      border: none;
    }
    .tab {
      position: relative;
      width: 13rem;
      height: 3rem;
      margin: $space-zero;
      font-weight: $font-weight-thick;
      line-height: 4rem;
      letter-spacing: normal;
      font-size: $font-size-mini;
      color: $tab-inner-font-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      background-color: $tab-inner-unselected-color;
      cursor: pointer;
      i {
        font-size: 2.5rem;
      }
      .icon-right-strock {
        height: 21px;
        border-left: 1px solid $text-primary-color;
        margin: 0 10px;
      }
      &:first-child {
        border-right: none;
      }
      &:nth-child(2) {
        border-left: none;
      }

      &.active {
        line-height: 4rem;
        color: $color-white;
        &::after {
          display: none;
        }
        .icon-right-strock {
          border-left: 1px solid $tab-select-stroke;
        }
        i::before {
          color: $color-white;
        }
      }

      &.active.bg-float-inner-active {
        background-color: $tab-inner-selected-color;
      }
    }
  }
}
