.rc-table {
  display: flex;
  flex-direction: column;
  // overflow-x: auto;
  border-top: 1px solid $computation-grid-border-color;
  .body-half-screen {
    max-height: 246px;
    min-height: 246px;
  }
  .compute-section-body-max-height {
    max-height: 300px;
    min-height: 300px;
  }
  .rc-tb-head,
  .rc-tb-body {
    .rc-tb-row {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      .rc-tb-data {
        display: flex;
        flex-direction: column;
        border-right: 1px solid $computation-grid-border-color;
        border-bottom: 1px solid $computation-grid-border-color;
        width: 25%;
        padding: 0.8rem;
      }
      .rc-tb-data:nth-child(1) {
        border-left: 1px solid $computation-grid-border-color;
      }
    }
  }
  .rc-tb-head {
    font-weight: $font-weight-bold;
    color: $color-black;
    background-color: $color-white;
  }
  .rc-tb-body {
    overflow-y: auto;
    border-bottom: 1px solid $computation-grid-border-color;
    .rc-tb-row:nth-child(odd) {
      background: $computation-grid-alternative-row-color;
    }
    .rc-tb-row:nth-child(even) {
      background: $color-white;
    }
    .rc-tb-row:last-child {
      .rc-tb-data {
        border-bottom: none !important;
      }
    }
  }
}

.full-screen {
  .body-half-screen {
    max-height: 80vh;
  }
}
